*{
    background-color: #a9a9a9;

}

h2{
    color: darkred;
}
.t2{
    color: rgb(72, 4, 4);
    text-align: center;
}
.p1{
    text-align: justify;
}

#t1{
    text-align: center;
    color: #ff0;
}